@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
} */

body {
    background-image: url(/bg-light.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

html[data-theme='dark'] body {
    background-image: url(/bg-dark.jpg);
}